.item-container {
    padding: 0 48px;
    margin: 64px auto;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.item-img__wrap {
    grid-column: 1/2;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.item-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 3px;
}

.item-detail__top,
.item-description__group,
.item-info__group,
.item-comment__group,
.item-comment__form {
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;
}

.item-detail__top {
    grid-column: 2/3;
    margin-top: -12px;
}

.item-detail__price-group {
    align-items: baseline;
    gap: 2px;
}

.item-detail__price-span {
    font-size: 18px;
}

.item-detail__price-text {
    font-size: 30px;
}

.item-detail__count-group {
    align-items: center;
    gap: 40px;
    margin-left: 5%;
}

.favorite-count__group,
.comment-count__group {
    align-items: center;
    gap: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.favorite-count__text,
.comment-count__text {
    display: block;
    line-height: 1.5;
}

.item-detail__brand {
    font-size: 14px;
}

.favorite-count__text,
.comment-count__text {
    font-size: 12px;
}

.item-purchase__btn {
    text-align: center;
}

.purchased {
    display: none;
}

.item-category__group,
.item-condition__group {
    gap: 32px;
    align-items: start;
}

.item-category__name {
    flex-wrap: wrap;
    row-gap: 12px;
}

.item-category__ttl,
.item-condition__ttl {
    font-weight: bold;
    min-width: 90px;
}

.item-category__text {
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 25px;
    padding: 0 18px;
}

.item-category__text:not(:last-of-type) {
    margin-right: 1em;
}

.item-comment__inner {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.item-comment__inner::-webkit-scrollbar {
    width: 4px;
}

.item-comment__inner::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.item-comment__inner::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    -webkit-appearance: none;
}

.item-comment__inner::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.item-comment__wrap:not(:first-of-type) {
    margin-top: 28px;
}

.item-comment__user {
    align-items: center;
    gap: 12px;
}

.item-comment__img-wrap {
    width: 50px;
    height: 50px;
}

.item-comment__text {
    margin-top: 14px;
    padding: 8px;
    background-color: #d9d9d9;
    border-radius: 3px;
}

.item-comment__form-textarea {
    padding: 8px;
    margin-top: -12px;
    margin-bottom: -16px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
}

.item-category__text,
.item-condition__text,
.item-comment__text {
    font-size: 14px;
}

.item-comment__form-btn {
    text-align: center;
    margin-top: 32px;
}

.sold-out {
    position: absolute;
    top: -85px;
    left: -200px;
    background-color: #e24a4a;
    padding: 80px 40px 0 40px;
    width: 220px;
    height: 220px;
    color: #fff;
    font-size: 28px;
    transform: rotate(-45deg);
    transform-origin: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* ---modal--- */
.modal__group {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    padding: 64px 32px;
    border-radius: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal__group:target {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-detail__button {
    font-size: 32px;
    color: #000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 24px;
}

.modal-text {
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 959px) {

    .item-container {
        display: flex;
        flex-direction: column;
    }
}