/* ---form--- */
.form-container {
    width: 480px;
    margin: 52px auto;
}

.login-container {
    margin: 68px auto 0;
}

.form-ttl,
.form-header {
    text-align: center;
}

.form-group {
    margin-top: 40px;
}

.form-group__item:not(:first-of-type) {
    margin-top: 28px;
}

.form-group__item-label {
    align-items: center;
    gap: 8px;
}

.form-group__item-input,
.transaction-form__message-input {
    border: 1px solid #5F5F5F;
    width: 100%;
    border-radius: 3px;
    padding: 8px 4px;
}

.form-btn {
    width: 100%;
    background-color: #ff5555;
    color: #fff;
    border-radius: 3px;
    padding: 8px 0;
}

.btn-margin {
    margin-top: 64px;
}

.guid-text {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #0073cc;
}

.form-text__required {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    font-size: 12px;
    background-color: #fd5151;
    color: #fff;
    border-radius: 3px;
}