/* ---mypage--- */
.user__inner {
    width: 75%;
    grid-template-columns: 120px minmax(260px, 1fr) 215px;
    margin: 48px auto 0;
    align-items: center;
    gap: 4%;
    justify-content: space-between;
}

.user-img__wrap {
    grid-column: 1/2;
}

.user-name {
    grid-column: 2/3;
    word-break: break-word;
    overflow-wrap: break-word;
}

.profile-link {
    grid-column: 3/4;
    font-size: 18px;
    padding: 4px 24px;
}

/* ---menu--- */
.list-menu__group {
    margin-top: 40px;
}

.list-menu__form {
    display: inline-block;
}

.list-menu__text {
    margin-right: 50px;
    line-height: 2em;
    font-size: 18px;
    color: #6d6c6c;
}

.list-menu__form:first-of-type {
    margin-left: 12%;
}

.list-menu__text:hover {
    color: #ff0000;
}

.selected {
    color: #ff0000;
}

/* ---item--- */
.list-card__group {
    padding: 48px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}

.list-card__wrap {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.list-card__ttl {
    max-width: 300px;
}

.sold-out {
    position: absolute;
    top: -54px;
    left: -135px;
    background-color: #e24a4a;
    padding: 80px 40px 0 40px;
    width: 150px;
    height: 150px;
    color: #fff;
    font-size: 22px;
    transform: rotate(-45deg);
    transform-origin: top;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.list-card__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 850px) {
    .user__inner {
        width: 85%;
    }
}