.purchase-form {
    padding: 0 48px;
    margin: 64px auto;
    justify-content: space-between;
    gap: 48px;
}

.purchase-content__inner {
    width: 60%;
}

.purchase-content__img {
    gap: 32px;
    padding-bottom: 32px;
}

.purchase-content {
    padding: 24px 32px 48px;
}

.purchase-img__wrap {
    width: 200px;
    min-width: 200px;
    height: 200px;
}

.purchase-way__select-wrap,
.purchase-address__wrap {
    margin: 20px 0 0 48px;
    width: 85%;
}

.purchase-address__input,
.purchase-building__input {
    width: 100%;
    text-overflow: ellipsis;
}

.purchase-price__item {
    align-items: baseline;
}

.purchase-span {
    font-size: 18px;
}

.purchase-price__input {
    margin-top: 16px;
    margin-left: 8px;
    font-size: 26px;
    display: inline-block;
}

.purchase-way__select-wrap {
    width: 250px;
    position: relative;
    font-size: 14px;
}

.purchase-way__select-wrap::after {
    position: absolute;
    top: 18px;
    right: 5%;
    width: 0;
    height: 0;
    border-top: 10px solid #5f5f5f;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.purchase-ttl__inner {
    justify-content: space-between;
}

.purchase-address__btn {
    color: #0069c8;
}

.purchase-confirm {
    flex: 1;
}

.purchase-confirm__table {
    border-collapse: collapse;
    border: 1px solid #939393;
    width: 100%;
}

.purchase-confirm__table-heading,
.purchase-confirm__table-item {
    padding: 32px 10px;
    width: 50%;
    text-align: center;
}

.purchase-confirm__table-item--span,
.purchase-confirm__table-item {
    font-size: 18px;
}

.purchase-btn {
    margin-top: 48px;
}

@media screen and (max-width: 959px) {
    .purchase-form {
        flex-direction: column;
    }

    .purchase-content__inner {
        width: 100%;
    }
}