.result-container {
    width: 520px;
    border: 1px solid #c2c1c1;
    border-radius: 3px;
    margin: 150px auto;
    text-align: center;
    padding-bottom: 12px;
}

.success-title {
    border-radius: 3px 3px 0 0;
    background-color: #42cc42;
}

.error-title {
    border-radius: 3px 3px 0 0;
    background-color: #ff5855;
}

.result-message {
    margin-top: 24px;
    font-size: 18px;
}

.home-btn {
    display: inline-block;
    margin-top: 48px;
}